{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Статус</th>
            <th scope="col">Название</th>
            <th scope="col">Вопросов</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row" class="text-center">
                    {% if object.num_questions == object.num_passed %}
                        <img src="{% static 'icons/circle-check-regular.svg' %}" height="16px">
                    {% elif object.num_passed %}
                        <img src="{% static 'icons/clock-regular.svg' %}" height="14px">
                    {% endif %}
                </th>
                <td>
                    <a href="{% url 'test' object.id %}"
                       class="link-test">
                        {{ object.title|truncatechars:48 }}
                    </a>
                </td>
                <td>{{ object.num_questions }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}